<li id="comment-<%= @comment.id %>">
  <cite>
    <%= @comment.name %> (<%= @comment.created_at.strftime('%B %d, %Y') %>)
    <a href="#comment-<%= @comment.id %>">#</a>
  </cite>

  <p><%= @comment.body %></p>
</li>

